/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v29-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-regular.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/roboto-v29-latin_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-italic.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-italic.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-italic.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/roboto-v29-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-500.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-500.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-500.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("fonts/roboto-v29-latin_cyrillic-500italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-500italic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-500italic.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-500italic.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-500italic.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-500italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-v29-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-700.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-700.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/roboto-v29-latin_cyrillic-700italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("fonts/roboto-v29-latin_cyrillic-700italic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v29-latin_cyrillic-700italic.woff2") format("woff2"), url("fonts/roboto-v29-latin_cyrillic-700italic.woff") format("woff"), url("fonts/roboto-v29-latin_cyrillic-700italic.ttf") format("truetype"), url("fonts/roboto-v29-latin_cyrillic-700italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  background-color: transparent;
  outline: none;
  border: 0;
}

div:focus {
  outline: 0;
}

img {
  max-width: 100%;
  display: block;
}

aside {
  background-color: rgb(56, 58, 57);
}

.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}
.sidebar .consultation-form {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  gap: 24px;
}
.sidebar .consultation-form__main-part {
  flex: 1;
}
.sidebar .sidebar-close-btn {
  padding: 18.5px 8px 18.5px 18.5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  background-color: #3e83c4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 56px 0px 0px 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.sidebar .sidebar-close-btn svg {
  height: 11px;
  width: 11px;
  fill: #ffffff;
  margin-right: 7px;
}
.sidebar .sidebar-close-btn:hover, .sidebar .sidebar-close-btn:focus {
  background-color: #3471ab;
}
.sidebar .sidebar-container {
  width: 884px;
  min-height: 100vh;
  display: flex;
  background-color: #f8f9fa;
}
.sidebar .sidebar-menu {
  width: 52px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-right: 1px solid #dbdbdb;
}
.sidebar .sidebar-menu__btn {
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-color: #dbdbdb;
  border-radius: 100%;
  margin-top: 8px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu__btn::before {
  content: url(./../../images/svg/side-arrow.svg);
  height: 12px;
  width: 8px;
}
.sidebar .sidebar-menu__btn:hover, .sidebar .sidebar-menu__btn:focus {
  border: 2px solid;
  border-color: #4c9d11;
}
.sidebar .sidebar-menu-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.sidebar .sidebar-menu-list__item {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  border-radius: 100px;
  border-color: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu-list__item.active {
  border: 2px solid #4c9d11;
}
.sidebar .sidebar-menu-list__item:hover, .sidebar .sidebar-menu-list__item:focus {
  border: 2px solid #4c9d11;
}
.sidebar .sidebar-menu-list__item:nth-child(1) {
  background-color: #b9a682;
}
.sidebar .sidebar-menu-list__item:nth-child(2) {
  background-color: #82b6b9;
}
.sidebar .sidebar-menu-list__item:nth-child(3) {
  background-color: #b2bac3;
}
.sidebar .sidebar-menu-list__item:nth-child(4) {
  background-color: #b882b9;
}
.sidebar .sidebar-menu__add-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-top: 8px;
  border-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-menu__add-btn svg {
  fill: #dbdbdb;
  height: 20px;
  width: 20px;
}
.sidebar .sidebar-menu__add-btn.active {
  cursor: pointer;
}
.sidebar .sidebar-menu__add-btn.active:hover, .sidebar .sidebar-menu__add-btn.active:focus {
  border: 2px solid #4c9d11;
}
.sidebar .sidebar-menu__add-btn.active svg {
  fill: #374656;
}
.sidebar .sidebar-content {
  width: 100%;
}
.sidebar .sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;
  width: 100%;
  height: 64px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #dbdbdb;
}
.sidebar .sidebar-header__client-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.sidebar .sidebar-header__client-info-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #82b6b9;
  border-radius: 100%;
  color: #ffffff;
}
.sidebar .sidebar-header__client-info-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #374656;
}
.sidebar .sidebar-header__btn-container {
  display: flex;
  gap: 4px;
}
.sidebar .sidebar-header__btn-container button {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  border: 1px solid #b6caee;
  border-radius: 24px;
  font-size: 12px;
  line-height: 1.167;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #374656;
}
.sidebar .sidebar-header__btn-container button.chat {
  color: #374656;
}
.sidebar .sidebar-header__btn-container button.chat svg {
  fill: #374656;
  width: 13.5px;
  height: 13.5px;
}
.sidebar .sidebar-header__btn-container button.chat.active {
  cursor: pointer;
  color: #3e83c4;
  background-color: #edf2f6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-header__btn-container button.chat.active svg {
  fill: #3e83c4;
}
.sidebar .sidebar-header__btn-container button.chat.active:hover, .sidebar .sidebar-header__btn-container button.chat.active:focus {
  background-color: #d2def4;
}
.sidebar .sidebar-header__btn-container button.email svg {
  fill: #374656;
  width: 13.5px;
  height: 14px;
}
.sidebar .sidebar-header__btn-container button.email.active {
  cursor: pointer;
  color: #3e83c4;
  background-color: #edf2f6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-header__btn-container button.email.active svg {
  fill: #3e83c4;
}
.sidebar .sidebar-header__btn-container button.email.active:hover, .sidebar .sidebar-header__btn-container button.email.active:focus {
  background-color: #d2def4;
}
.sidebar .sidebar-header__btn-container button.phone.active {
  cursor: pointer;
  color: #3e83c4;
  background-color: #edf2f6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .sidebar-header__btn-container button.phone.active svg {
  fill: #3e83c4;
  width: 12px;
  height: 12.3px;
}
.sidebar .sidebar-header__btn-container button.phone.active:hover, .sidebar .sidebar-header__btn-container button.phone.active:focus {
  background-color: #d2def4;
}
.sidebar .sidebar-header__eye-btn {
  margin-left: auto;
}
.sidebar .sidebar-header__eye-btn svg {
  width: 22px;
  height: 22px;
  fill: #dbdbdb;
}
.sidebar .sidebar-header__eye-btn.active {
  cursor: pointer;
}
.sidebar .sidebar-header__eye-btn.active svg {
  fill: #4c9d11;
}
.sidebar .sidebar-main {
  padding: 40px 24px;
}
.sidebar .consultation-form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
}
.sidebar .consultation-form-title h1 {
  font-size: 24px;
  line-height: 1.21;
  color: #374656;
}
.sidebar .consultation-form-title p {
  font-size: 14px;
  line-height: 1.21;
  color: #788392;
}
.sidebar .consultation-form-container {
  display: flex;
  gap: 16px;
}
.sidebar .consultation-form-container__left-side,
.sidebar .consultation-form-container__right-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sidebar .consultation-form-section {
  position: relative;
  padding: 16px 24px 16px;
  width: 384px;
  background: #ffffff;
  box-shadow: 0px 3px 16px rgba(121, 121, 121, 0.12);
  border-radius: 16px;
}
.sidebar .consultation-form__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #788392;
  margin-bottom: 2px;
}
.sidebar .consultation-form__label span {
  color: #4c9d11;
}
.sidebar .consultation-form__group-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #788392;
}
.sidebar .consultation-form__group-title span {
  color: #4c9d11;
}
.sidebar .consultation-form__input-box,
.sidebar .consultation-form__select-box {
  position: relative;
}
.sidebar .consultation-form__input,
.sidebar .consultation-form__select,
.sidebar .consultation-form__textarea {
  padding: 0px 40px 0px 12px;
  gap: 8px;
  width: 336px;
  height: 48px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #374656;
}
.sidebar .consultation-form__textarea {
  height: 96px;
  padding: 12px;
}
.sidebar .consultation-form__input-btn,
.sidebar .consultation-form__select-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
.sidebar .consultation-form__input-btn svg,
.sidebar .consultation-form__select-btn svg {
  fill: #374656;
  width: 14px;
  height: 14px;
}
.sidebar .consultation-form__input-btn.add-btn, .sidebar .consultation-form__input-btn.arrow-btn,
.sidebar .consultation-form__select-btn.add-btn,
.sidebar .consultation-form__select-btn.arrow-btn {
  top: 19px;
}
.sidebar .consultation-form__checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.sidebar .consultation-form__checkbox-group label {
  display: flex;
  gap: 17px;
  align-items: baseline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #374656;
  margin-top: 7px;
}
.sidebar .consultation-form__checkbox-group input[type=checkbox] {
  position: relative;
  margin: 0px;
  cursor: pointer;
}
.sidebar .consultation-form__checkbox-group input[type=checkbox]:hover:before {
  content: "";
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #b6caee;
}
.sidebar .consultation-form__checkbox-group input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid;
  border-radius: 3px;
  border-color: #dbdbdb;
  height: 24px;
  width: 24px;
  top: -4px;
  left: 0;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .consultation-form__checkbox-group input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 24px;
  top: -4px;
  left: 0;
  background: #4c9d11;
  border-radius: 3px;
  border-color: transparent;
}
.sidebar .consultation-form__checkbox-group input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 9px;
  height: 16px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  top: -1px;
  left: 8px;
}
.sidebar .consultation-form__theme-box {
  margin-top: 8px;
}
.sidebar .consultation-form__theme-box p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #374656;
  display: flex;
  gap: 8px;
}
.sidebar .consultation-form__theme-box p span {
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.31;
}
.sidebar .consultation-form__theme-box.task-group {
  margin-top: 0px;
}
.sidebar .consultation-form__theme-box.task-group .icon-bell {
  width: 16px;
  height: 19.5px;
}
.sidebar .consultation-form-section--without-box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.sidebar .consultation-form__content-link {
  display: flex;
  gap: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-decoration: underline;
  color: #3e83c4;
}
.sidebar .consultation-form__content-link svg {
  width: 20px;
  height: 20px;
}
.sidebar .consultation-form__request-box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 7px;
  margin-top: 8px;
}
.sidebar .consultation-form__request-box p {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  font-family: "Roboto";
  font-style: normal;
  color: #374656;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  background: #f9ebf0;
  border-radius: 15px;
}
.sidebar .consultation-form__request-box p svg {
  width: 15px;
  height: 15px;
}
.sidebar .consultation-form__request-box p span {
  font-weight: 700;
}
.sidebar .consultation-form__status-box {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 7px;
}
.sidebar .consultation-form__status-box p {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  font-family: "Roboto";
  font-style: normal;
  color: #374656;
  font-size: 16px;
  line-height: 1.19;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
}
.sidebar .consultation-form__status-box p svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.sidebar .consultation-form__status-box p svg.exclamation {
  width: 15px;
  height: 15px;
}
.sidebar .consultation-form__status-box p span {
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */