main {
  background: $background-color;
}

.policy-info-content {
  width: 100%;
  padding: 24px 24px 40px 24px;

  .navigation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;

    color: $text-color-small;

    svg {
      height: 8px;
      width: 8px;
      margin-right: 7px;
      margin-left: 7px;
      fill: $text-color-small;
    }
  }
  .policy-info-header {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
    padding: 24px 24px 24px 24px;
    background-color: $background-light-green;
  }

  .policy-info-header__title {
    color: $text-color-main;
    display: flex;
    align-items: center;
    gap: 30px;

    h1 {
      font-size: 24px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
    }

    svg {
      height: 24px;
      width: 24px;
      fill: $text-color-main;
      border-radius: 100%;
      background-color: $btn-text-color;
    }

    h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;

      color: $text-color-small;
    }
  }

  .policy-info-requests-section {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 7px;
    padding: 24px 0;

    p {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 6px 12px;
      font-family: 'Roboto';
      font-style: normal;
      color: $text-color-main;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.19;
      background: $text-color-orange4;
      border-radius: 15px;
      cursor: pointer;
      transition: box-shadow $transition-dur-and-func;

      .notification {
        width: 20px;
        height: 20px;
      }
      .phone {
        width: 15px;
        height: 15px;
      }
      .side-arrow {
        width: 12px;
        height: 12px;
        fill: $text-color-main;
      }

      span {
        font-weight: 700;
      }

      &:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .policy-main-info-section {
    margin-bottom: 40px;
  }
  .policy-main-info-section-box {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 8px;
    padding: 16px;
    width: 100%;
    background: $btn-text-color;
    box-shadow: 0px 3px 16px rgba(121, 121, 121, 0.12);
    border-radius: 16px;

    .policy-main-info-section__number {
      display: flex;
      gap: 16px;
      align-items: center;

      color: $text-color-main;
      font-family: Roboto;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .heart-risk {
      width: 32px;
      height: 32px;
      padding: 7px;
      background: $bg-color-blue;
      border-radius: 100%;
    }

    .policy-main-info-section__status {
      padding: 6px 16px;
      border-radius: 56px;
      background: #eef6e8;
      color: $main-color;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
    }

    .policy-main-info-section__program,
    .policy-main-info-section__application {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .policy-main-info-section__program-title,
    .policy-main-info-section__application-title {
      color: $text-color-small;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
    }

    .policy-main-info-section__program-desc,
    .policy-main-info-section__application-desc {
      color: $text-color-main;

      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;

      display: flex;
      align-items: center;
      gap: 4px;

      span {
        width: 26px;
        height: 26px;
        padding: 4px;
        background-color: $bg-color-violet;

        border-radius: 100%;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .policy-main-info-section__indexing {
    display: flex;
    align-items: center;
    padding: 3px 24px;
    width: fit-content;
    border-radius: 16px;
    border: 1px solid $border-color-gray;
    gap: 24px;
    color: $btn-border-color2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;

    .indexing-option__title {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      font-weight: 700;

      svg {
        width: 18px;
        height: 18px;
        fill: $btn-border-color2;
      }
    }
  }

  .policy-parameters-section {
    margin-bottom: 40px;
  }

  .policy-section-title {
    display: flex;
    align-items: center;
    gap: 16px;

    color: $text-color-main;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;

    margin-bottom: 16px;
    svg {
      width: 20px;
      height: 20px;
      fill: $text-color-main;
    }
  }

  .policy-parameters-section__box {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  .policy-parameters-section__about-contract,
  .policy-parameters-section__term-contract {
    border-radius: 16px;
    background: $btn-text-color;
    box-shadow: 0px 3px 16px 0px rgba(121, 121, 121, 0.12);
    padding: 12px 0px;
    width: 33%;
  }

  .policy-parameters-section__about-contract-title,
  .policy-parameters-section__term-contract-title {
    color: $text-color-main;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1, 2;
    padding: 0px 16px;
  }

  .policy-parameters-section__about-contract-box,
  .policy-parameters-section__term-contract-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding: 12px 16px;

    border-bottom: 1px solid $border-color-gray;

    &:last-child {
      border: none;
    }

    &.with-col {
      margin-top: 12px;
      border-top: 1px solid $border-color-gray;
    }
  }

  .policy-parameters-section__about-contract-row,
  .policy-parameters-section__term-contract-row {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &.with-col {
      align-items: center;
      .side-arrow {
        width: 16px;
        height: 16px;
        fill: $text-color-main;
      }
    }
  }

  .policy-parameters-section__term-contract-col {
    margin-left: 27px;
  }

  .policy-parameters-section__about-contract-row-title,
  .policy-parameters-section__term-contract-row-title,
  .policy-parameters-section__term-contract-col-title {
    color: $text-color-small;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;

    &.icon {
      display: flex;
      align-items: center;
      gap: 6px;

      &.flag {
        margin-left: -27px;
      }

      svg {
        width: 24px;
        height: 24px;
        padding: 2px;
      }
    }
  }

  .policy-parameters-section__about-contract-row-desc,
  .policy-parameters-section__term-contract-row-desc,
  .policy-parameters-section__term-contract-col-desc {
    color: $text-color-main;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;

    &.currency {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        padding: 4px;

        &.grivna {
          background-color: $bg-color-blue;
        }
        &.usd {
          background-color: $bg-color-green;
        }
        &.euro {
          background-color: $pink2-bg-color;
        }
      }
    }

    &.photo {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .policy-participants-section__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .policy-participants-section__item {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 12px 24px;

    border-radius: 16px;
    background: $btn-text-color;
    box-shadow: 0px 3px 16px 0px rgba(121, 121, 121, 0.12);

    img {
      width: 40px;
      height: 40px;
    }

    .participant-data {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        width: 24px;
        height: 24px;
        background-color: $border-color-gray;
        border-radius: 100%;
        fill: $text-color-small;
        padding: 5px;
      }

      .participant-data__full-name {
        color: $text-color-main;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1, 3;
        text-decoration-line: underline;
      }
      .participant-data__age {
        color: $text-color-small;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
      }
    }

    .participant-role {
      display: flex;
      align-items: center;
      gap: 12px;

      span {
        border-radius: 100px;
        padding: 4px 12px;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
      }

      .insured {
        color: $btn-color-blue;
        background: $bg-color-blue2;
      }

      .beneficiary {
        color: $text-color-small;
        background: $bg-color-gray2;
      }

      .third-party {
        color: $text-color-small;
        background: $bg-color-gray3;
      }

      .insurer {
        color: $text-color-orange5;
        background: $bg-color-orange3;
      }
    }
  }

  .participant-risk-box {
    display: flex;
    margin-left: auto;
  }
  .participant-risk-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: -12px 0;
    padding: 12px;
    border-right: 1px solid $border-color-gray;
    min-width: 150px;

    &:last-child {
      border: none;
    }

    .participant-risk-list__list-title {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $text-color-main;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.2;

      svg {
        width: 14px;
        height: 14px;
        fill: $text-color-main;
      }
    }

    .participant-risk-list__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;

      .participant-risk-list__item-title {
        color: $text-color-small;
        font-size: 14px;
      }

      .participant-risk-list__item-desc {
        color: $text-color-main;
        font-size: 16px;
      }
    }
  }
}
