$main-color: #4c9d11;

$text-color-main: #374656;
$text-color-small: #788392;
$text-color-orange: #f78632;
$text-color-orange2: #f2994a;
$text-color-orange3: #e4b20b;
$text-color-orange5: #d09601;
$text-color-orange4: #f8ebc3;

$background-color: #f8f9fa;
$background-light-green: #eef6e8;
$bg-color-orange: rgba(247, 134, 50, 0.2);
$bg-color-orange2: rgba(244, 187, 0, 0.2);
$bg-color-orange3: #faf4e6;
$bg-color-gray: #e3e3e3;
$bg-color-gray2: #f1f3f4;
$bg-color-gray3: #e9e9e9;
$bg-color-blue: #dae9f7;
$bg-color-blue2: #ecf3f9;
$bg-color-violet: #f6ecfa;

// ================================
$btn-color-blue: #3e83c4;
$btn-color-blue-hover: #3471ab;

$btn-color-green: #4c9d11;
$btn-text-color: #ffffff;
$btn-border-color: #b6caee;
$btn-border-color2: #b2bac3;
$btn-bg-color: #edf2f6;
$btn-bg-color2: #ebedf2;
$bg-color-blue: #d5e3f2;
$bg-color-green: #ebf3e5;
$btn-bg-hover-color: #d2def4;

$violet-bg-color: #4d58c1;
$pink-bg-color: #f9ebf0;
$pink2-bg-color: #f5e0f0;
$lilac-bg-color: #ebecf9;
$green-bg-color: #e3f6e6;
$border-color-gray: #dbdbdb;
$border-color: #dfe5ea;
$transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$active-tab: #4c9d11;
$smiley-color-green: #5bd07c;

$background-blue: #e1eefb;
$background-green: #ebf9eb;
// цвета для кружков, тебе для ангуляр переменных

$c1: #b9a682;
$c2: #82b6b9;
$c3: #b2bac3;
$c4: #b882b9;
$c5: #8288b9;
$c6: #87b982;
$c7: #b98282;
